<h1><%= @game.player_2.name %> hit <%= @game.player_1.name %>!</h1>
<h2><%= @game.player_1.name %>'s health: <%= @game.player_1.hp %></h2>
<form action='/p1_turn'>
<input type="submit" value="Continue the battle">
</form>
